/* 版心 */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 头部区域 */
.header {
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    display: flex;
    padding-top: 29px;
    /* padding-bottom: 30px; */
}

/* logo区域 */
.header .logo a {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
}


/* 导航 */
.header .nav {
    /* width: 244px; */
    /* height: 35px; */ /*为什么不需要宽高？*/
    margin-left: 102px;

}

.header .nav ul {
    display: flex;
    /* justify-content: space-between; */
}

.header .nav ul li {
    margin-right: 24px; /*32-8*/
}

.header .nav ul a {
    font-size: 19px;
    line-height: 27px;
    padding: 6px 8px;
    display: block
}

.header .nav ul li .active,
.header .nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.header .search {
    display: flex;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    margin-left: 64px;  /*Why not 88? 答：96-8-24 = 64 */
    padding-right: 12px;
    padding-left: 19px; /*Why not padding: 10px 12px 19px; 没说为什么上边距10px不用加。*/

}

.header .search input {
    /*去掉 input tag外面的框*/
    border: 0;
    /* 这个好理解，就是为了让 .search的bgc也能显示在input tag的bgc上。 */
    background-color: transparent;
    outline: none;
    /* width: 70px;
    height: 20px; */
    flex: 1;
}

.header .search input::placeholder {
    font-size: 14px;
    /* line-height: 20px;  */ /*Why not?*/
    color: #999999;
}

.header .search a {
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
    align-self: center;
}

/* 用户 */
.header .user {
    margin-left: 32px;
    margin-top: 4px;
}

.header .user img {
    vertical-align: middle;
    margin-right: 7px;
}

.header .user span {

    font-size: 16px;
    color: #666666;
}

/* banner */
.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    height: 420px;
    display: flex;
    background-image: url(../uploads/banner.png);
    justify-content: space-between;
}

/* 左侧导航区域 */
.banner .left {
    padding: 3px 20px;
    width: 191px;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner .left li a {
    display: block;
    height: 46px;
    background: url(../images/right.png) no-repeat right center;
    font-size: 16px;
    line-height: 46px;
    color: #fff;
}

/* 鼠标悬停效果 */
.banner .left li a:hover {
    background: url(../images/right-hover.png) no-repeat right center;
    color: #00a4ff;
}

/* 右侧课程表区域 */
.banner .right {
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
    margin-top: 60px;
}

.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.banner .right .content {
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px;
}

.banner .right .content dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right .content dl dt {
    margin-bottom: 8px;
    line-height: 20px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    
}

.banner .right .content dl dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.banner .right .content dl dd span {
    color: #00a4ff;
}

.banner .right .content dl dd strong {
    font-weight: 400;
    color: #7d7d7d;
}

.banner .right .content a {
    display: block;
    /* margin: 0 14px 14px; */
    height: 32px;
    line-height: 32px;
    background-color: #00a4ff;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

/* 精品推荐菜单区域 */
.recommend {
    display: flex;
    margin-top: 11px;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    line-height: 60px;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
}

.recommend h3 {
    font-size: 18px;
    /* line-height: 18px; */
    color: #00a4ff;
    font-weight: 400;
}

.recommend ul {
    flex: 1;
    display: flex;
}

.recommend ul li a {
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
}

.recommend ul li:last-child a {
    border-right: none;
}

.recommend .modify {
    /* margin-left: 69px; */
    font-size: 16px;
    color: #00a4ff;
}

/* 精品推荐课程区域 */
.course {
    margin-top: 15px;
    /* height: 601px; */
}

/* 标题区域 */
.hd {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.hd h3 {
    font-size: 21px;
    color: #333333;
    font-weight: 400;
}

.hd .more {
    padding-right: 20px;
    color: #999;
    background: url(../images/more.png) no-repeat right center;
    font-size: 14px;
}

/* 内容区域 */
/* .course .bd {
    height: 556px;
} */

.bd ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bd ul li {
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    background-color: pink;
}

/* .bd ul li a {
    display: block;
    height: 156px;
} */

.bd .pic {
    height: 156px;
}

.bd ul li .text {
    padding: 20px 20px 22px;/*这个地方老师写的是全20px，我觉得不是。不重要。*/
    height: 115px;
    background-color: #f9fafb;
    font-size: 14px;
}

.bd ul li .text h4 {
    margin-bottom: 13px;
    height: 40px;
    color: #333333;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.bd ul li .text p {
    line-height: 20px;
    color: #999999;
    font-size: 14px;
}

.bd ul li .text p span {
    color: #fa6400;
}

.bd ul li .text p i {
    font-style: normal;
}

/* 前端开发工程师 */
.frontend .hd ul {
    display: flex;
}

.frontend .hd ul li {
    margin-right: 60px;
}

/* .frontend .hd ul li a {
    line-height: 32px;
    font-size: 16px;
    
} */

.frontend .hd ul li .active {
    color: #00a4ff;
}

.frontend .bd {
    display: flex;
}

.frontend .bd .left {
    width: 228px;
    margin-right: 15px;
}

.frontend .bd .right {
    flex: 1;
}

.frontend .bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

/* Python+大数据开发 */
.Python .hd ul {
    display: flex;
}

.Python .hd ul li {
    margin-right: 60px;
}

.Python .hd ul li .active {
    color: #00a4ff;
}

.Python .bd {
    display: flex;
}

.Python .bd .left {
    width: 228px;
    margin-right: 15px;
}

.Python .bd .right {
    flex: 1;
}

.Python .bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

/* footer区域 */
.footer {
    margin-top: 60px;
    padding-top: 60px;
    height: 273px;
    background-color: #ffffff;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .wrapper .left {
    width: 440px;
    background-color: pink;
}

.footer .wrapper .left .top {
    margin-bottom: 24px;
    display: block;
    width: 195px;
    height: 41px;
    background: url(../images/logo.png);
}

.footer .wrapper .left p {
    /*我在.footer .wrapper .left .top写了margin-bottom。*/
    margin-bottom: 14px;
    color: #666666;
    line-height: 17px;
    font-size: 12px;
}

.footer .wrapper .left .download {
    display: block;
    width: 120px;
    height: 36px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
}

.footer .right {
    display: flex;
}

.footer .right dl {
    margin-right: 130px;
}

.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    color: #333333;
}

.footer .right dd a {
    color: #666666;
    line-height: 24px;
    font-size: 14px;
}